{% extends 'base.html' %}

{% block title %}Customers | Admin{% endblock %}

{% block body %}

<body class="admin-page">

  <!-- Sidebar -->
  <div class="sidebar">

    <div class="sidebar-logo">
      Book<span>Store</span>
    </div>

    <ul>

      <li>
        <a href="{{ url_for('admin_dashboard') }}">
          <i class="fa-solid fa-chart-line"></i> Dashboard
        </a>
      </li>

      <li>
        <a href="{{ url_for('add_books') }}">
          <i class="fa-solid fa-book"></i> Books
        </a>
      </li>

      <li>
        <a href="{{ url_for('categories') }}">
          <i class="fa-solid fa-layer-group"></i> Categories
        </a>
      </li>

      <li>
        <a href="{{ url_for('orders') }}">
          <i class="fa-solid fa-cart-shopping"></i> Orders
        </a>
      </li>

      <li>
        <a href="{{ url_for('customers') }}" class="active">
          <i class="fa-solid fa-users"></i> Customers
        </a>
      </li>

      <li>
        <a href="{{ url_for('admin_login') }}">
          <i class="fa-solid fa-right-from-bracket"></i> Logout
        </a>
      </li>

      <li>
        <a href="{{ url_for('home') }}">
          <i class="fa-solid fa-globe"></i> Front Page
        </a>
      </li>

    </ul>

  </div>

  <!-- Main -->
  <div class="main">

    <div class="topbar">
      <h1 id="customerTitle">Customers</h1>
    </div>

    <div class="customers-page">

      <div class="customer-header">
        <h2>Customers Orders</h2>
      </div>

      <table>

        <thead>
          <tr>
            <th>Customer</th>
            <th>Email</th>
            <th>Book Purchased</th>
            <th>Price</th>
          </tr>
        </thead>

        <tbody id="customersTableBody"></tbody>

      </table>

    </div>

  </div>

  <script src="{{ url_for('static', filename='js/customers.js') }}"></script>

</body>

{% endblock %}
